.wrapper {
    display: flex;
}
.avatar {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    background: #eee;
    margin-right: 8px;
}
.avatar img {
    margin: auto;
    display: block;
}
.namesurname {
    padding: 10px 0;
}
